#firstSection {
  background-color: #333;
}

.contentFirstSection {
  height: auto;
  display: flex;
  justify-content: space-between;
  max-width: 2000px;
  width: 100%;
  margin: 0 auto;
}

.homepageTitleContainer {
  width: 40%;
  margin: auto;
  color: #333;
}

.homepageTitle {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 30px;
  color: #fff;
}

.homepageImg {
  width: 60%;
  border-radius: 0 0 0 50rem;
  opacity: 0.6;
}

#secondSection,
#fourthSection {
  background-color: rgba(51, 51, 51, 0.8);
}

.contentSecondSection,
.contentFourthSection {
  height: auto;
  padding: 100px 0;
  display: flex;
  justify-content: space-between;
  justify-content: center;
  max-width: 2000px;
  width: 100%;
  margin: 0 auto;
}

.aboutUsText,
.companies {
  width: 60%;
  margin: auto;
  line-height: 1.6;
  text-align: left;
  color: #fff;
  padding-right: 100px;
}

.companies {
  display: grid;
  gap: 40px;
  grid-template-columns: repeat(4, 1fr);
}

.companies .companyDiv {
  margin: 5px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 170px;
  height: 70px;
  font-size: 13px;
  line-height: 1.2;
  border-radius: 15px;
}

.companies .companyDiv h3 {
  padding: 5px;
}

.companyDiv:nth-child(even) {
  background-color: rgba(43, 43, 43, 0.8);
}
.companyDiv:nth-child(odd) {
  background-color: rgba(69, 69, 69, 0.8);
}

.aboutTitle {
  width: 40%;
  margin: auto;
  color: #fff;
  font-size: 30px;
}

#thirdSection {
  background-color: #333;
}

.contentThirdSection {
  display: flex;
  justify-content: space-between;
  height: auto;
  padding: 100px 0;
  max-width: 2000px;
  width: 100%;
  margin: 0 auto;
}

.membershipTitle {
  width: 40%;
  margin: auto;
  color: #fff;
  font-size: 30px;
}

.membershipDetailsContainer {
  width: 60%;
  margin: auto;
  text-align: left;
  color: #fff;
}

.membershipText {
  margin-bottom: 50px;
  font-size: 20px;
}

.membershipDetailsCardsContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 20px 0;
  gap: 30px;
  padding-right: 100px;
}
.membershipCard {
  width: 230px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}

.membershipCard:nth-child(odd) {
  background-color: rgba(43, 43, 43, 0.8);
}

.membershipCard:nth-child(even) {
  background-color: rgba(69, 69, 69, 0.8);
}

.membershipCard h3 {
  margin-bottom: 20px;
}

.membershipCard ul {
  list-style: none;
}

.membershipCard ul li {
  font-size: 13px;
  text-align: center;
  padding: 4px 5px;
}

@media (max-width: 1750px) {
  .membershipDetailsCardsContainer {
    grid-template-columns: repeat(3, 1fr);
  }

  .companies {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 1320px) {
  .membershipDetailsCardsContainer {
    grid-template-columns: repeat(2, 1fr);
  }

  .companies {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 910px) {
  .contentFirstSection {
    flex-direction: column-reverse;
    position: relative;
    height: 50vh;
    z-index: 0;
  }

  .contentFirstSection::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("../assets/img/homepage_img.jpg") no-repeat center
      center/cover;
    opacity: 0.3;
    z-index: -1;
  }

  .homepageImg {
    display: none;
  }

  .homepageTitleContainer {
    position: absolute;
    bottom: 50%;
    width: 100%;
    z-index: 1000;
  }

  .homepageTitleContainer h1 {
    font-size: 50px;
    z-index: 1000;
  }

  .contentSecondSection {
    height: 48vh;
    flex-direction: column;
  }

  .aboutUsText {
    width: 70%;
    padding-right: 0;
    font-size: 21px;
    margin-top: 40px;
    text-align: center;
  }

  .aboutTitle {
    width: 100%;
    margin: auto;
  }

  .contentThirdSection {
    flex-direction: column;
  }

  .membershipCard {
    width: 180px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
  }

  .membershipDetailsCardsContainer {
    grid-template-columns: repeat(3, 1fr);
    margin-left: 10%;
  }
  .membershipTitle {
    width: 100%;
    margin: auto;
    color: #fff;
    font-size: 30px;
  }

  .membershipDetailsContainer {
    width: 100%;
    margin: auto;
    text-align: center;
    color: #fff;
  }

  .membershipCard h3 {
    font-size: 15px;
  }

  .membershipCard ul li {
    font-size: 11px;
  }

  .membershipText {
    margin-top: 18px;
    text-align: left;
    margin-left: 10%;
  }

  .contentFourthSection {
    flex-direction: column;
    gap: 50px;
  }

  .companies {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(4, 1fr);
  }

  .companies .companyDiv {
    margin: 5px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 130px;
    height: 50px;
    font-size: 9px;
    line-height: 1.2;
    border-radius: 15px;
  }

  .companies {
    width: 100%;
    margin: auto;
    line-height: 1.6;
    text-align: center;
    color: #fff;
    padding: 0;
    margin-left: 1%;
    gap: 10px;
  }

  .companies h3 {
    font-size: 12px;
  }
}
@media (max-width: 685px) {
  .contentFirstSection {
    height: 100vh;
  }

  .homepageTitleContainer {
    height: auto;
    text-align: center;
  }

  .homepageTitleContainer h1 {
    font-size: 50px;
    z-index: 1000;
  }

  .contentSecondSection {
    height: auto;
    flex-direction: column;
  }

  .aboutUsText {
    width: 70%;
    padding-right: 0;
    font-size: 21px;
    margin-top: 40px;
    text-align: center;
  }

  .aboutTitle {
    width: 100%;
    margin: auto;
  }

  .contentThirdSection {
    flex-direction: column;
  }

  .membershipCard {
    width: 180px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
  }

  .membershipDetailsCardsContainer {
    grid-template-columns: repeat(2, 1fr);
    margin-left: 15%;
  }
  .membershipTitle {
    width: 100%;
    margin: auto;
    color: #fff;
    font-size: 30px;
  }

  .membershipDetailsContainer {
    width: 100%;
    margin: auto;
    text-align: center;
    color: #fff;
  }

  .membershipCard h3 {
    font-size: 15px;
  }

  .membershipCard ul li {
    font-size: 11px;
  }

  .membershipText {
    margin-top: 18px;
    text-align: left;
    margin-left: 15%;
  }

  .contentFourthSection {
    flex-direction: column;
    gap: 50px;
  }

  .companies {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
  }

  .companies .companyDiv {
    margin: 5px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 130px;
    height: 50px;
    font-size: 9px;
    line-height: 1.2;
    border-radius: 15px;
  }

  .companies {
    width: 100%;
    margin: auto;
    line-height: 1.6;
    text-align: center;
    color: #fff;
    padding: 0;
    margin-left: 1%;
    gap: 10px;
  }

  .companies h3 {
    font-size: 12px;
  }
}

@media (max-width: 500px) {
  .contentFirstSection {
    height: 100vh;
  }

  .homepageTitleContainer {
    height: auto;
    text-align: center;
  }

  .homepageTitleContainer h1 {
    font-size: 45px;
    z-index: 1000;
  }

  .contentSecondSection {
    height: auto;
    flex-direction: column;
  }

  .aboutUsText {
    width: 90%;
    padding-right: 0;
    font-size: 19px;
    margin-top: 40px;
    text-align: center;
  }

  .aboutTitle {
    width: 100%;
    margin: auto;
  }

  .contentThirdSection {
    flex-direction: column;
  }

  .membershipCard {
    width: 140px;
    height: 110px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
  }

  .membershipDetailsCardsContainer {
    grid-template-columns: repeat(2, 1fr);
    margin-left: 5%;
  }
  .membershipTitle {
    width: 100%;
    margin: auto;
    color: #fff;
    font-size: 30px;
  }

  .membershipDetailsContainer {
    width: 100%;
    margin: auto;
    text-align: center;
    color: #fff;
    padding-left: 5%;
  }

  .membershipCard h3 {
    font-size: 15px;
  }

  .membershipCard ul li {
    font-size: 11px;
  }

  .membershipText {
    margin-top: 18px;
    text-align: left;
    max-width: 80%;
  }

  .contentFourthSection {
    flex-direction: column;
    gap: 50px;
  }

  .companies {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    margin: auto;
    line-height: 1.6;
    text-align: center;
    color: #fff;
    padding: 0;
    margin-left: 1%;
    gap: 10px;
    padding-left: 5%;
  }

  .companies .companyDiv {
    margin: 5px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 130px;
    height: 50px;
    font-size: 9px;
    line-height: 1.2;
    border-radius: 15px;
  }

  .companies h3 {
    font-size: 12px;
  }
}
