#firstSection {
  background-color: #333;
  height: auto;
  display: flex;
  justify-content: space-between;
}

.homepageTitleContainer {
  width: 40%;
  margin: auto;
  color: #333;
}

.homepageTitle {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 30px;
  color: #fff;
}

.homepageImg {
  width: 60%;
  border-radius: 0 0 0 300px;
}

#secondSection {
  background-color: rgba(51, 51, 51, 0.8);
  height: auto;
  padding: 100px 0;
  display: flex;
  justify-content: space-between;
  justify-content: center;
}

.aboutTitle {
  width: 40%;
  margin: auto;
  color: #fff;
  font-size: 30px;
}

.aboutUsText {
  width: 60%;
  margin: auto;
  line-height: 1.6;
  text-align: left;
  color: #fff;
  padding-right: 100px;
}

#thirdSection {
  background-color: #333;
  display: flex;
  justify-content: space-between;
  height: auto;
  padding: 100px 0;
}

.membershipTitle {
  width: 40%;
  margin: auto;
  color: #fff;
  font-size: 30px;
}

.membershipDetailsContainer {
  width: 60%;
  margin: auto;
  text-align: left;
  color: #fff;
}

.membershipText {
  margin-bottom: 50px;
  font-size: 20px;
}

.membershipDetailsCardsContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 20px 0;
  gap: 30px;
  padding-right: 100px;
}
.membershipCard {
  width: 230px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.membershipCard:nth-child(odd) {
  background-color: rgba(43, 43, 43, 0.8);
}

.membershipCard:nth-child(even) {
  background-color: rgba(69, 69, 69, 0.8);
}

.membershipCard h3 {
  margin-bottom: 20px;
}

.membershipCard ul {
  list-style: none;
}

.membershipCard ul li {
  font-size: 13px;
  text-align: center;
  padding: 4px 5px;
}

@media (max-width: 1750px) {
  .membershipDetailsCardsContainer {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 1320px) {
  .membershipDetailsCardsContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}
