/* Reset default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

body {
  background-color: #fff;
  overflow-x: hidden;
}

/* Set minimum height for main content */
main {
  min-height: calc(100vh - 250px); /* 100vh - height of header */
  max-width: auto;
  width: auto;
  margin: 0 auto;
  padding-top: 90px;
}

/* Style header */
header {
  position: fixed;
  width: 100%;
  height: 90px;
  background-color: white;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

nav {
  display: flex;
  align-items: center;
  width: 1500px;
  justify-content: space-between;
  padding: 0 20px;
}

.logo {
  width: 350px;
}

/* Style navigation menu */
nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  margin: 0 10px;
}

nav ul li a {
  color: #333;
  text-decoration: none;
  padding: 5px;
  font-size: 20px;
}

nav ul li a.active,
nav ul li a:hover {
  background-color: #fff;
  color: #333;
  border-bottom: 2px solid #333;
}

.mobileNavModal-content ul li a.active,
.mobileNavModal-content ul li a:hover {
  border-bottom: 2px solid white;
}

/* Style main content */
section {
  text-align: center;
}

/* Style footer */
footer {
  height: 150px;
  background-color: #fff;
  color: #333;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button {
  background-color: #fff;
  color: #333;
  font-size: 14px;
  padding: 10px 20px;
  border: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s, background-color 0.1s ease-in-out;
  text-decoration: none;
  width: 150px;
}

.button:hover {
  background-color: #d9d7d7;
  color: #333;
  /* transition: background-color color 0.2s; */
}

.contactDiv {
  display: flex;
  align-items: center;
  margin: 20px;
  margin-bottom: 30px;
  gap: 70px;
}

.contactDiv div a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  gap: 8px;
  color: #333;
}

.mobileNavModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease;
}

.mobileNavModal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
}

.mobileNavModal-content ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.mobileNavModal-content ul li a {
  font-size: 20px;
  text-decoration: none;
  color: white;
}

.mobileNavActive {
  opacity: 1;
  visibility: visible;
}

.disableBodyScroll {
  overflow-y: hidden;
}

/* Define the styles for the scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 5px;
}

/* Define the hover styles for the scrollbar thumb */
::-webkit-scrollbar-thumb:hover {
  background-color: #999;
}

/* Define the active styles for the scrollbar thumb */
::-webkit-scrollbar-thumb:active {
  background-color: #666;
}

@media (max-width: 1750px) {
  footer {
    height: 300px;
  }
  .contactDiv {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 80px;
    justify-items: start;
  }
}

@media (max-width: 600px) {
  footer {
    height: 400px;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .contactDiv {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
}

/* Hamburger icon styles */
.mobileHeader {
  display: none;
  cursor: pointer;
}

.hamburger span {
  display: block;
  width: 24px;
  height: 3px;
  margin: 5px 0;
  background-color: #333;
}

/* Show menu horizontally when viewport is large */
@media (max-width: 1000px) {
  .menu {
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
  }

  .menu li {
    margin-left: 20px;
  }

  nav {
    display: none;
  }

  main {
    padding-top: 50px;
  }

  header {
    height: 50px;
  }

  .mobileHeader {
    display: flex;
    width: 90%;
    justify-content: space-between;
    align-items: center;
  }

  .mobileHeader .logo {
    width: 200px;
  }
}
